body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.announcearea {
    position: absolute;
    width: 100%;
    height: 8rem;
    background: rgba(43, 43, 43, 0.74);
    z-index: 50;
    top: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.announcetext {
    color: white;
}

.announceinput {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input[type=number] {
    width: 40%;
    padding: 2px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    min-height: 3rem;
    font-size: 1.2rem;
}
input:focus {
    border: 4px solid #ccc;
    outline: none;
}

.dicewindow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20rem;
    height: 15rem;
    border-top: 2px black solid; 
    border-left: 2px black solid;
    z-index: 20;
    background: white;
}

.box {
    border: 2px black solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subbutton {
    display: flex;
    align-items: center;
    justify-content: center;
}


.playerturn {
    height: 3rem;
}

.buttonholder {
    height: 4rem;
    display: flex;
}

.walkbutton {
    border-right: 2px black solid;
}

.excretebutton {
    border-left: 2px black solid;
}

.dice {
    height: 8rem;
}

.face {
    display: none;
    grid-template-areas: 
    "dot dot dot"
    "dot dot dot"
    "dot dot dot";
    width: 82px;
    height: 82px;
    grid-gap: 10px;
    padding: 15px;
}

.dot {
    background: black;
    width: 100%;
    height: 100%;
    border-radius: 50px;

}

.actualdice {
    height: 7rem;
    width: 7rem;
    background: rgb(194, 194, 194);
    border: 3px solid black;
    border-radius: 8px;
}

.actualdice:hover {
    background: rgb(153, 153, 153);
}

.gamewindow {
    width: 100vh;
    height: 100vh;
    background-color: rgb(211, 211, 211);
    margin: auto;
    position: relative;
}

.homestretch {
    position: absolute;
    display: grid;
    grid-template-areas:
     "plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp"
     "plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp"
     "plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp"
     "plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp"
     "plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp"
     "plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp"
     "plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp"
     "plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp"
     "plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp"
     "plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp"
     "plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp plupp";
    grid-gap: 10px; 
    width: 100%;
    height: 100%;
}

.plupp {
    position: relative;
    border-radius: 50px;
    border: 2px solid black;
    width: 90%;
    height: 90%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player {
    font-family: monospace;
    position: absolute;
    border-radius: 50px;
    border: 9px rgb(26, 26, 26) solid;
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    user-select: none;
}





/*helpers*/
.w-50 {
    width: 50%;
    height: 100%;
    user-select: none;
}


.red {
    background: red;
}

.lightred {
    background: rgb(255, 65, 65);
}

.blue {
   background: rgb(31, 147, 255); 
}

.lightblue {
    background: rgb(141, 190, 255);
}

.green {
    background: rgb(75, 204, 0);
}

.lightgreen {
    background: rgb(150, 255, 119);
}

.yellow {
    background: yellow;
}

.lightyellow {
    background: rgb(255, 255, 79);
}

.white {
    background: whitesmoke;
}

.empty {
    border: none;
    background: none;
}

.hidden {
    display: none;
}

.topright {
    top: 0;
    right: 0;
}

.topleft {
    top: 0;
    left: 0;
}

.bottomright {
    bottom: 0;
    right: 0;
}

.bottomleft {
    bottom: 0;
    left: 0;
}

.redonhover {
    background: rgb(255, 255, 255);
}

.bluewonhover {
    background: rgb(255, 255, 255);
}

.greenonhover {
    background: rgb(255, 255, 255);
}


.yellowonhover {
    background: rgb(255, 255, 255);
}

.redonhover:hover {
    background: red;
}

.bluehover:hover {
    background: rgb(31, 147, 255);
}

.greenonhover:hover {
    background: rgb(75, 204, 0);
}

.yellowonhover:hover {
    background: yellow;
}

.blinking {
    animation: blinker 1s infinite linear;
}

@keyframes blinker {
    0% {background: greenyellow;}
    25% {background: mediumturquoise;}
    50% {background: red;}
    75% {background: rgb(31, 147, 255);}
    100% {background: greenyellow;}
}

